html, body{
  font-family: "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", Arial, sans-serif;
}

#download-ahref {
  text-decoration: none;
  /* display:none; */
}

.sj-input {
  font-family: "Fira Code", sans-serif;
  display: inherit;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc
}

.sj-time-input {
  cursor: pointer;
}

.sj-header-span {
  font-weight: bold;
}

.sj-card-padding {
  padding-top: 16px !important;
  padding-bottom: 48px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.sj-card-padding-2 {
  padding: 16px 8px !important;
}


.sj-stat-header {
  font-weight: bold;
  font-style: italic;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-right: 1px !important;
  padding-left: 4px !important;
}

.sj-stat-item {
  font-weight: bold;
  font-style: italic;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-right: 1px !important;
  padding-left: 9px !important;
}

.sj-stat-data {
  font-style: italic;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-right: 1px !important;
}
